{% extends "base.html" %}

{% block title %}
{{ book.title }} | Readex
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-4">

        <img
            src="{{ book.cover_image.url }}"
            class="img-fluid rounded shadow"
            alt="{{ book.title }}">

    </div>

    <div class="col-md-8">

        <h1>{{ book.title }}</h1>

        <h4 class="text-muted">
            {{ book.author }}
        </h4>

        <hr>

        <p>
            {{ book.description }}
        </p>

        <a
            href="{{ book.pdf_file.url }}"
            class="btn btn-success"
            target="_blank">

            📄 Download PDF

        </a>

        <a
            href="{% url 'books:list' %}"
            class="btn btn-secondary">

            ← Back to Library

        </a>

        <hr>

        <small class="text-muted">

            Uploaded:
            {{ book.created_at|date:"F d, Y" }}

        </small>

    </div>

</div>

{% endblock %}